includes:
  - phpstan-baseline.neon

parameters:
  parallel:
    maximumNumberOfProcesses: 5

  level: 2

  paths:
    - Classes
    - Configuration
    - Tests

  ignoreErrors:
    # @todo This ignoreError can be removed when support for TYPO3 v12 is dropped
    -
      message: "#Parameter \\$beforePageCacheIdentifierIsHashedEvent of method SourceBroker\\\\T3api\\\\EventListener\\\\EnrichPageCacheIdentifierParametersEventListener::__invoke\\(\\) has invalid type TYPO3\\\\CMS\\\\Frontend\\\\Event\\\\BeforePageCacheIdentifierIsHashedEvent#"
      reportUnmatched: false

    # @todo This ignoreError can be removed when support for TYPO3 v12 is dropped
    -
      message: "#Call to method setPageCacheIdentifierParameters\\(\\) on an unknown class TYPO3\\\\CMS\\\\Frontend\\\\Event\\\\BeforePageCacheIdentifierIsHashedEvent#"
      reportUnmatched: false

    # @todo This ignoreError can be removed when support for TYPO3 v12 is dropped
    -
      message: "#Call to method getPageCacheIdentifierParameters\\(\\) on an unknown class TYPO3\\\\CMS\\\\Frontend\\\\Event\\\\BeforePageCacheIdentifierIsHashedEvent#"
      reportUnmatched: false
