<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Swagger UI</title>
	<link rel="stylesheet" type="text/css" href="/typo3conf/ext/t3api/Resources/Public/vendor/swagger-ui/swagger-ui.css">
	<link rel="icon" type="image/png" href="/typo3conf/ext/t3api/Resources/Public/vendor/swagger-ui/favicon-32x32.png" sizes="32x32"/>
	<link rel="icon" type="image/png" href="/typo3conf/ext/t3api/Resources/Public/vendor/swagger-ui/favicon-16x16.png" sizes="16x16"/>
	<style>
		html {
			height: 100%;
			box-sizing: border-box;
			overflow: -moz-scrollbars-vertical;
			overflow-y: scroll;
		}

		*,
		*:before,
		*:after {
			box-sizing: inherit;
		}

		body {
			height: 100%;
			margin: 0;
			background: #fafafa;
			overflow-y: scroll;
		}
	</style>
</head>

<body>
<div id="swagger-ui"></div>

<script src="/typo3conf/ext/t3api/Resources/Public/vendor/swagger-ui/swagger-ui-bundle.js"></script>
<script src="/typo3conf/ext/t3api/Resources/Public/vendor/swagger-ui/swagger-ui-standalone-preset.js"></script>
<f:format.raw>
	<script>
      var dataUrl = '{dataUrl}'
      window.onload = function () {
        var ui = SwaggerUIBundle({
          url: dataUrl,
          dom_id: '#swagger-ui',
          deepLinking: true,
          presets: [
            SwaggerUIBundle.presets.apis,
            SwaggerUIStandalonePreset
          ],
          plugins: [
            SwaggerUIBundle.plugins.DownloadUrl
          ],
          layout: 'BaseLayout'
        })

        window.ui = ui
      }
	</script>
</f:format.raw>
</body>
</html>
